* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: #00FA9A;
    background-color: #3B3F45;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Style DropDowns */

.from,
.to {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

button {
    font-family: 'Roboto Mono', monospace;
}

/* STYLE TEXTBOXES */

#conversion-amount::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

#conversion-amount:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

#conversion-amount::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

#conversion-amount:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}